  body {
 /* background-image: url("Images/background.jpeg"); */
   background-image: url("Images/background2.jpg");
   height:100%;
}


.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Cherry Swash', cursive;
	font-size: 25px;
}

h1, h2, h3 {
  font-size: 35px;
}

.syr{
  font-size: 20px;
}

button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

#technologies-button {
  background-color: #B5A2BA;
  border-radius: 12px;
  opacity: 0.8; 
  filter: Alpha(opacity=50); /* IE8 and earlier */
}

#projects-button {
  background-color: #776A7A;
  border-radius: 12px;
  opacity: 0.8; 
  filter: Alpha(opacity=50); /* IE8 and earlier */
}

#education-button {
  background-color: #EED5F5;
  border-radius: 12px;
  opacity: 0.8; 
  filter: Alpha(opacity=50); /* IE8 and earlier */
}

#connect-button {
  background-color: #342E36;
  border-radius: 12px;
  opacity: 0.8; 
  filter: Alpha(opacity=50); /* IE8 and earlier */
}

#technologies-title, #projects-title, #education-title, #connect-title {
  color: #F6F5F7;

}

/* #tech-icon{
  animation-duration: 3s;
  animation-name: slidein;	
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */


/* Start Media Queries */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
